<div class="mb-6">
  <!--  <h2 class="text-xl font-semibold mb-5 flex items-center text-gray-800">Тип груза</h2>-->
  <div class="flex flex-wrap gap-2">
    @for (type of mappedTypes; track type.value) {
      @if (type.value === 'DOCUMENTS') {
        <button
          [appearance]="type.value === (typeControl.value?.value || '') ? 'primary' : 'secondary'"
          iconStart="@tui.files"
          tuiButton
          tuiButtonVertical
          type="button"
          class="flex-1 min-w-[100px]"
          [disabled]="disabledHandler(type)"
          (click)="!disabledHandler(type) && typeControl.setValue(type)"
        >
          {{ type.name | transloco }}
        </button>
      }

      @if (type.value === 'PARCELS') {
        <button
          [appearance]="type.value === (typeControl.value?.value || '') ? 'primary' : 'secondary'"
          iconStart="@tui.boxes"
          tuiButton
          tuiButtonVertical
          type="button"
          class="flex-1 min-w-[100px]"
          [disabled]="disabledHandler(type)"
          (click)="!disabledHandler(type) && typeControl.setValue(type)"
        >
          {{ type.name | transloco }}
        </button>
      }

      @if (type.value === 'AUTO_PARTS') {
        <button
          [appearance]="
            hasRestriction(type)
              ? 'secondary-destructive'
              : type.value === (typeControl.value?.value || '')
                ? 'primary'
                : 'secondary'
          "
          [iconStart]="hasRestriction(type) ? '@tui.info' : '@tui.cog'"
          [tuiHint]="getRestrictionMessage(type)"
          [tuiHintAppearance]="'error'"
          tuiButton
          tuiButtonVertical
          type="button"
          class="flex-1 min-w-[100px]"
          [class.cursor-not-allowed!]="hasRestriction(type)"
          [disabled]="disabledHandler(type)"
          (click)="!disabledHandler(type) && typeControl.setValue(type)"
        >
          {{ type.name | transloco }}
        </button>
      }

      @if (type.value === 'OTHER') {
        <button
          [appearance]="
            hasRestriction(type)
              ? 'secondary-destructive'
              : type.value === (typeControl.value?.value || '')
                ? 'primary'
                : 'secondary'
          "
          [iconStart]="hasRestriction(type) ? '@tui.info' : '@tui.component'"
          [tuiHint]="getRestrictionMessage(type)"
          [tuiHintAppearance]="'error'"
          tuiButton
          tuiButtonVertical
          type="button"
          class="flex-1 min-w-[100px]"
          [class.cursor-not-allowed!]="hasRestriction(type)"
          [disabled]="disabledHandler(type)"
          (click)="!disabledHandler(type) && typeControl.setValue(type)"
        >
          {{ type.name | transloco }}
        </button>
      }
    }
  </div>

  <div class="hidden">
    <tui-radio-list
      [formControl]="typeControl"
      [items]="mappedTypes"
      [identityMatcher]="identityMatcher"
      [disabledItemHandler]="disabledHandler.bind(this)"
    ></tui-radio-list>
  </div>
</div>
