@if (form) {
  <div [formGroup]="form" class="space-y-3">
    <label tuiLabel>
      Улица

      <div class="relative">
        <tui-textfield #streetInput>
          <input
            tuiTextfield
            [formControl]="street"
            [tuiHint]="[] | tuiFieldErrorContent"
            [minlength]="limits.address.street.minLength"
            [maxlength]="limits.address.street.maxLength"
            [attr.maxlength]="limits.address.street.maxLength"
            tuiHintAppearance="error"
          />
        </tui-textfield>
        @if (streetInput.focused()) {
          <span class="absolute top-1/2 -translate-y-1/2 right-2">
            <tui-badge appearance="secondary" tuiHint="Доступно символов" size="s">{{
              availableStreetLength
            }}</tui-badge>
          </span>
        }
      </div>
    </label>
    <div class="flex space-x-7">
      <label tuiLabel>
        Дом, корпус, строение

        <div class="relative">
          <tui-textfield #buildingInput>
            <input
              tuiTextfield
              [formControl]="building"
              [tuiHint]="[] | tuiFieldErrorContent"
              [minlength]="limits.address.building.minLength"
              [maxlength]="limits.address.building.maxLength"
              [attr.maxlength]="limits.address.building.maxLength"
              tuiHintAppearance="error"
            />
          </tui-textfield>
          @if (buildingInput.focused()) {
            <span class="absolute top-1/2 -translate-y-1/2 right-2">
              <tui-badge appearance="secondary" tuiHint="Доступно символов" size="s">{{
                availableBuildingLength
              }}</tui-badge>
            </span>
          }
        </div>
      </label>

      <label tuiLabel>
        Кв. / офис

        <div class="relative">
          <tui-textfield #apartmentInput>
            <input
              tuiTextfield
              [formControl]="apartment"
              [tuiHint]="[] | tuiFieldErrorContent"
              [minlength]="limits.address.apartment.minLength"
              [maxlength]="limits.address.apartment.maxLength"
              [attr.maxlength]="limits.address.apartment.maxLength"
              tuiHintAppearance="error"
            />
          </tui-textfield>
          @if (apartmentInput.focused()) {
            <span class="absolute top-1/2 -translate-y-1/2 right-2">
              <tui-badge appearance="secondary" tuiHint="Доступно символов" size="s">{{
                availableApartmentLength
              }}</tui-badge>
            </span>
          }
        </div>
      </label>
    </div>
    <tui-radio-list
      size="s"
      [formControl]="preferredTime"
      [itemContent]="content"
      [items]="preferredTimeSlots"
      [identityMatcher]="identityMatcherById"
      [style.flex-direction]="'row'"
    >
      <ng-template #content let-data>
        <b>{{ data.label }}</b>
      </ng-template>
    </tui-radio-list>
  </div>
}
