@let review = reviewModel$ | async;

@for (section of review?.sections; track $index) {
  <h2 class="text-xl font-medium">{{ section.title }}</h2>

  <div class="space-y-4">
    @for (field of section.fields; track $index) {
      <span class="text-gray-500 flex-1 border-b border-dotted border-gray-300">
        {{ field.label }}
      </span>
      <span class="ml-2">{{ field.value }}</span>
    }
  </div>
}

@if (review?.order) {
  {{ review?.order | json }}
}

@if (form) {
  <div class="mt-6">
    <span class="block text-gray-500">Комментарий к заявке</span>
    <tui-textarea [formControl]="comment"></tui-textarea>
  </div>
  <label class="mt-2 flex items-center gap-2">
    <input tuiCheckbox type="checkbox" [formControl]="rulesAccepted" />
    <span>Я подтверждаю, что ознакомлен(а) с правилами приемки и отправки грузов</span>
  </label>
  <label class="mt-2 flex items-center gap-2">
    <input tuiCheckbox type="checkbox" [formControl]="processingAccepted" />
    <span
      >Нажимая кнопку «Оформить заказ», я даю свое согласие на обработку моих персональных
      данных</span
    >
  </label>
}
