@let review = review$ | async;

@if (review) {
  <div class="space-y-8">
    <!-- Заголовок -->
    <div class="mb-12">
      <h2 class="text-3xl font-bold text-gray-800">Проверьте данные заявки</h2>
      <p class="text-sm text-gray-600 mt-1">
        Пожалуйста, убедитесь, что все данные указаны корректно перед оформлением заказа
      </p>
    </div>

    <!-- Разделы заказа -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      @for (section of review.sections; track $index) {
        <div class="bg-white rounded-lg border border-gray-200 p-5 shadow-sm">
          <h3
            class="text-md font-medium text-gray-700 mb-3 pb-2 border-b border-gray-100 flex items-center"
          >
            <span class="text-yellow-500 text-md inline-block mr-2">0{{ $index + 1 }}.</span>
            <!--            @if ($index === 0) {-->
            <!--              <tui-icon-->
            <!--                icon="@tui.bus-front"-->
            <!--                class="mr-2"-->
            <!--                [style.color]="'var(&#45;&#45;tui-background-accent-1)'"-->
            <!--                [style.font-size.rem]="1.25"-->
            <!--              />-->
            <!--            }-->
            <!--            @if ($index === 1) {-->
            <!--              <tui-icon-->
            <!--                icon="@tui.goal"-->
            <!--                class="mr-2"-->
            <!--                [style.color]="'var(&#45;&#45;tui-background-accent-1)'"-->
            <!--                [style.font-size.rem]="1.25"-->
            <!--              />-->
            <!--            }-->
            <!--            @if ($index === 2) {-->
            <!--              <tui-icon-->
            <!--                icon="@tui.user"-->
            <!--                class="mr-2"-->
            <!--                [style.color]="'var(&#45;&#45;tui-background-accent-1)'"-->
            <!--                [style.font-size.rem]="1.25"-->
            <!--              />-->
            <!--            }-->
            <!--            @if ($index === 3) {-->
            <!--              <tui-icon-->
            <!--                icon="@tui.user"-->
            <!--                class="mr-2"-->
            <!--                [style.color]="'var(&#45;&#45;tui-background-accent-1)'"-->
            <!--                [style.font-size.rem]="1.25"-->
            <!--              />-->
            <!--            }-->
            {{ section.title }}
          </h3>

          <!-- Поля каждой секции -->
          <div class="space-y-2">
            @for (field of section.fields; track $index) {
              <div class="flex items-baseline justify-between py-1.5">
                <span class="text-sm text-gray-500">{{ field.label }}</span>
                <span class="text-sm font-medium text-gray-800 text-right">{{ field.value }}</span>
              </div>
            }
          </div>
        </div>
      }
    </div>

    <!-- Детали заказа -->
    @if (review.order; as order) {
      <div class="bg-white rounded-lg border border-gray-200 p-5 shadow-sm">
        <h3
          class="text-md font-medium text-gray-700 mb-3 pb-2 border-b border-gray-100 flex items-center"
        >
          <!--          <tui-icon-->
          <!--            icon="@tui.blocks"-->
          <!--            class="mr-2"-->
          <!--            [style.color]="'var(&#45;&#45;tui-background-accent-1)'"-->
          <!--            [style.font-size.rem]="1.5"-->
          <!--          />-->
          <span class="text-yellow-500 text-md inline-block mr-2">05.</span>
          Детали груза
        </h3>

        <!-- Тип груза -->
        <!--        @if (order.cargoType) {-->
        <!--          <div class="mb-4">-->
        <!--            <div class="bg-yellow-400 rounded-md px-4 py-3 text-black font-medium inline-flex items-center">-->
        <!--              @if (order.cargoType === 'DOCUMENTS') {-->
        <!--                <tui-icon-->
        <!--                  icon="@tui.files"-->
        <!--                  class="mr-2"-->
        <!--                  [style.color]="'var(&#45;&#45;color-black)'"-->
        <!--                  [style.font-size.rem]="1.25"-->
        <!--                />-->
        <!--                Документы-->
        <!--              }-->
        <!--              @if (order.cargoType === 'PARCELS') {-->
        <!--                <tui-icon-->
        <!--                  icon="@tui.box"-->
        <!--                  class="mr-2"-->
        <!--                  [style.color]="'var(&#45;&#45;color-black)'"-->
        <!--                  [style.font-size.rem]="1.25"-->
        <!--                />-->
        <!--                Посылки-->
        <!--              }-->
        <!--              @if (order.cargoType === 'AUTO_PARTS') {-->
        <!--                <tui-icon-->
        <!--                  icon="@tui.cog"-->
        <!--                  class="mr-2"-->
        <!--                  [style.color]="'var(&#45;&#45;color-black)'"-->
        <!--                  [style.font-size.rem]="1.25"-->
        <!--                />-->
        <!--                Автозапчасти-->
        <!--              }-->
        <!--              @if (order.cargoType === 'OTHER') {-->
        <!--                <tui-icon-->
        <!--                  icon="@tui.component"-->
        <!--                  class="mr-2"-->
        <!--                  [style.color]="'var(&#45;&#45;color-black)'"-->
        <!--                  [style.font-size.rem]="1.25"-->
        <!--                />-->
        <!--                Другое-->
        <!--              }-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        }-->

        <!-- Содержимое заказа в зависимости от типа груза -->
        @if (order.cargoType === 'DOCUMENTS' && order.documents) {
          <div class="bg-gray-50 p-4 rounded-md mb-4">
            <div class="flex items-center justify-between">
              <span class="font-medium">Документы</span>
              <span
                class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-yellow-400 text-black"
              >
                {{ order.documents.quantity }} шт
              </span>
            </div>
          </div>
        }

        @if (order.cargoType === 'PARCELS' && order.parcels) {
          <div class="space-y-3 mb-4">
            @for (parcel of order.parcels; track $index) {
              <div class="bg-gray-50 p-4 rounded-md">
                <div class="flex justify-between items-center mb-2">
                  <span class="font-medium">Посылка {{ $index + 1 }}</span>
                  <span
                    class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-yellow-400 text-black"
                  >
                    {{ parcel.quantity }} шт
                  </span>
                </div>
                <div class="grid grid-cols-2 gap-x-4 gap-y-2 text-sm">
                  <div class="flex justify-between">
                    <span class="text-gray-500">Вес:</span>
                    <span class="font-medium">{{ parcel.weight }} кг</span>
                  </div>
                  <div class="flex justify-between">
                    <span class="text-gray-500">Габариты:</span>
                    <span class="font-medium"
                      >{{ parcel.dimensions.width }}×{{ parcel.dimensions.height }} ×{{
                        parcel.dimensions.length
                      }}
                      см</span
                    >
                  </div>
                </div>
              </div>
            }
          </div>
        }

        @if (order.cargoType === 'AUTO_PARTS' && order.autoParts) {
          <div class="bg-gray-50 p-4 rounded-md mb-4">
            <div class="flex items-center justify-between">
              <span class="font-medium"
                >Автозапчасти <span class="color-gray-400">({{ order.autoParts.name }})</span></span
              >
              <span
                class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-yellow-400 text-black"
              >
                {{ order.autoParts.quantity }} шт
              </span>
            </div>
          </div>
        }

        @if (order.cargoType === 'OTHER' && order.otherCargo) {
          <div class="bg-gray-50 p-4 rounded-md mb-4">
            <div class="flex items-center justify-between">
              <span class="font-medium">Другое ({{ order.otherCargo.name }})</span>
              <span
                class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-yellow-400 text-black"
              >
                {{ order.otherCargo.quantity }} шт
              </span>
            </div>
          </div>
        }

        @if (order.packaging && order.packaging.items.length) {
          <div class="mt-8">
            <h3
              class="text-md font-medium text-gray-700 mb-3 pb-2 border-b border-gray-100 flex items-center"
            >
              <!--              <tui-icon-->
              <!--                icon="@tui.package-open"-->
              <!--                class="mr-2"-->
              <!--                [style.color]="'var(&#45;&#45;tui-background-accent-1)'"-->
              <!--                [style.font-size.rem]="1.5"-->
              <!--              />-->
              <span class="text-yellow-500 text-md inline-block mr-2">06.</span>
              Упаковка
            </h3>

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
              @for (item of order.packaging.items; track $index) {
                <div class="bg-gray-50 p-2 rounded flex items-center">
                  <div class="flex-grow">
                    <span class="text-sm font-medium">{{ item.type }} {{ item.variant }}</span>
                  </div>
                  <span
                    class="inline-flex items-center justify-center whitespace-nowrap px-2 py-1 bg-yellow-400 text-black rounded text-xs font-medium ml-2"
                  >
                    {{ item.quantity }} шт
                  </span>
                </div>
              }
            </div>
          </div>
        }

        <!-- Дополнительные услуги -->
        @if (order.additionalServices) {
          <div class="mt-8">
            <h3
              class="text-md font-medium text-gray-700 mb-3 pb-2 border-b border-gray-100 flex items-center"
            >
              <!--              <tui-icon-->
              <!--                icon="@tui.handshake"-->
              <!--                class="mr-2"-->
              <!--                [style.color]="'var(&#45;&#45;tui-background-accent-1)'"-->
              <!--                [style.font-size.rem]="1.5"-->
              <!--              />-->
              <span class="text-yellow-500 text-md inline-block mr-2">07.</span>
              Дополнительные услуги
            </h3>

            <div class="flex flex-wrap gap-2">
              @if (order.additionalServices.insurance) {
                <div class="bg-gray-50 p-2 rounded flex items-center">
                  <tui-icon
                    icon="@tui.check"
                    class="mr-2"
                    [style.color]="'var(--color-green-600)'"
                    [style.font-size.rem]="1.5"
                  />
                  <span class="text-sm font-medium">
                    {{ order.additionalServices.insurance.displayName }}
                    @if (order.additionalServices.insurance.amount) {
                      <span class="text-xs text-gray-500"
                        >({{ order.additionalServices.insurance.amount }} ₽)</span
                      >
                    }
                  </span>
                </div>
              }

              @if (order.additionalServices.extendedSms) {
                <div class="bg-gray-50 p-2 rounded flex items-center">
                  <tui-icon
                    icon="@tui.check"
                    class="mr-2"
                    [style.color]="'var(--color-green-600)'"
                    [style.font-size.rem]="1.5"
                  />
                  <span class="text-sm font-medium">{{
                    order.additionalServices.extendedSms.displayName
                  }}</span>
                </div>
              }

              @if (order.additionalServices.senderSms) {
                <div class="bg-gray-50 p-2 rounded flex items-center">
                  <tui-icon
                    icon="@tui.check"
                    class="mr-2"
                    [style.color]="'var(--color-green-600)'"
                    [style.font-size.rem]="1.5"
                  />
                  <span class="text-sm font-medium">{{
                    order.additionalServices.senderSms.displayName
                  }}</span>
                </div>
              }

              @if (order.additionalServices.recipientPayment) {
                <div class="bg-gray-50 p-2 rounded flex items-center">
                  <tui-icon
                    icon="@tui.check"
                    class="mr-2"
                    [style.color]="'var(--color-green-600)'"
                    [style.font-size.rem]="1.5"
                  />
                  <span class="text-sm font-medium">{{
                    order.additionalServices.recipientPayment.displayName
                  }}</span>
                </div>
              }
            </div>
          </div>
        }
      </div>
    }

    <!-- Блок подтверждения заказа -->
    <!--    <div class="bg-white rounded-lg border border-gray-200 p-5 shadow-sm">-->
    <!--      <h3 class="text-md font-medium text-gray-700 mb-3 pb-2 border-b border-gray-100 flex items-center">-->
    <!--        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 text-green-500" fill="none" viewBox="0 0 24 24"-->
    <!--             stroke="currentColor">-->
    <!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
    <!--                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />-->
    <!--        </svg>-->
    <!--        Подтверждение заказа-->
    <!--      </h3>-->

    <!--      <app-review-confirmation />-->
    <!--    </div>-->
    <app-review-confirmation />
  </div>
}
