@if (form) {
  <div [formGroup]="form" class="grid grid-cols-3 gap-5">
    <label tuiLabel>
      ФИО
      <div class="relative">
        <tui-textfield #fullNameInput>
          <input
            tuiTextfield
            [formControl]="fullName"
            [tuiHint]="[] | tuiFieldErrorContent"
            [minlength]="limits.user.fullName.minLength"
            [maxlength]="limits.user.fullName.maxLength"
            [attr.maxlength]="limits.user.fullName.maxLength"
            tuiHintAppearance="error"
          />
        </tui-textfield>
        @if (fullNameInput.focused()) {
          <span class="absolute top-1/2 -translate-y-1/2 right-2">
            <tui-badge appearance="secondary" tuiHint="Доступно символов" size="s">{{
              availableFullNameLength
            }}</tui-badge>
          </span>
        }
      </div>
    </label>

    <div tuiLabel>
      Документ

      <tui-select [formControl]="document" [stringify]="'label' | tuiStringify">
        <tui-data-list-wrapper
          *tuiDataList
          [items]="senderDocuments"
          [itemContent]="'label' | tuiStringify | tuiStringifyContent"
        />
      </tui-select>
    </div>
    <label tuiLabel>
      Номер документа

      <div class="relative">
        <tui-textfield>
          <input
            tuiTextfield
            [formControl]="documentNumber"
            [tuiHint]="[] | tuiFieldErrorContent"
            tuiHintAppearance="error"
          />
        </tui-textfield>
      </div>
    </label>
    <div tuiLabel>
      Телефон

      <tui-input-phone
        [formControl]="phone"
        [tuiHint]="[] | tuiFieldErrorContent"
        tuiHintAppearance="error"
      >
      </tui-input-phone>
    </div>
  </div>
}
