<div>
  <div>
    <h3>Коробка:</h3>
    @for (box of boxes; track box.id) {
      <label [class.selected]="isSelected(box.id)">
        <input
          type="checkbox"
          tuiCheckbox
          [ngModel]="isSelected(box.id)"
          (ngModelChange)="toggleItem(box, $event)"
        />
        <span>{{ box.site_name }}</span>
        <span>{{ +box.price * getQuantity(box.id) }} руб. за {{ getQuantity(box.id) }} шт.</span>

        @if (isSelected(box.id)) {
          <button type="button" (click)="removePackagingItem(box.id)">x</button>
        }
      </label>
    }
  </div>
  <div>
    <h3>Сейф-пакет:</h3>
    @for (pack of safePacks; track pack.id) {
      <label [class.selected]="isSelected(pack.id)">
        <input
          type="checkbox"
          tuiCheckbox
          [ngModel]="isSelected(pack.id)"
          (ngModelChange)="toggleItem(pack, $event)"
        />
        <span>{{ pack.site_name }}</span>
        <span>{{ +pack.price * getQuantity(pack.id) }} руб. за {{ getQuantity(pack.id) }} шт.</span>

        @if (isSelected(pack.id)) {
          <button type="button" (click)="removePackagingItem(pack.id)">x</button>
        }
      </label>
    }
  </div>
  <div>
    <h3>Полиэтиленовый пакет:</h3>
    @for (pack of polyPacks; track pack.id) {
      <label [class.selected]="isSelected(pack.id)">
        <input
          type="checkbox"
          tuiCheckbox
          [ngModel]="isSelected(pack.id)"
          (ngModelChange)="toggleItem(pack, $event)"
        />
        <span>{{ pack.site_name }}</span>
        <span>{{ +pack.price * getQuantity(pack.id) }} руб. за {{ getQuantity(pack.id) }} шт.</span>

        @if (isSelected(pack.id)) {
          <button type="button" (click)="removePackagingItem(pack.id)">x</button>
        }
      </label>
    }
  </div>
  <div>
    <h3>Пленка:</h3>
    @for (film of films; track film.id) {
      <label [class.selected]="isSelected(film.id)">
        <input
          type="checkbox"
          tuiCheckbox
          [ngModel]="isSelected(film.id)"
          (ngModelChange)="toggleItem(film, $event)"
        />
        <span>{{ film.site_name }}</span>
        <span>{{ +film.price * getQuantity(film.id) }} руб. за {{ getQuantity(film.id) }} шт.</span>

        @if (isSelected(film.id)) {
          <button type="button" (click)="removePackagingItem(film.id)">x</button>
        }
      </label>
    }
  </div>
  <div>
    <h3>Другое:</h3>
    @for (pack of other; track pack.id) {
      <label [class.selected]="isSelected(pack.id)">
        <input
          type="checkbox"
          tuiCheckbox
          [ngModel]="isSelected(pack.id)"
          (ngModelChange)="toggleItem(pack, $event)"
        />
        <span>{{ pack.site_name }}</span>
        <span>{{ +pack.price * getQuantity(pack.id) }} руб. за {{ getQuantity(pack.id) }} шт.</span>

        @if (isSelected(pack.id)) {
          <button type="button" (click)="removePackagingItem(pack.id)">x</button>
        }
      </label>
    }
  </div>
</div>
