@let currentStep = currentStep$ | async;
@let departure = departure$ | async;

@if (currentStep) {
  <div class="mt-16 mb-20">
    <app-sender
      [data]="departure?.sender || null"
      (dataChange)="updateSender($event)"
      (validationChange)="onSenderValidationChange($event)"
    />
  </div>
  <div class="grid xl:grid-cols-2 gap-4">
    <app-pickup-point class="booking">
      <span>
        {{ 'booking.departure.pickupPoint.title' | transloco }}
      </span>
    </app-pickup-point>
    <div
      class="relative hidden xl:flex flex-col items-center justify-center gap-4 py-5 bg-gray-50 rounded-md border border-gray-100 before:absolute before:top-[39px] before:-left-6 before:w-6 before:h-[1px] before:bg-gray-100"
    >
      <tui-icon
        icon="@tui.info"
        [style.color]="'var(--color-yellow-500)'"
        [style.font-size.rem]="3"
      />
      <p class="text-sm text-gray-500 max-w-[350px] text-center">
        {{ 'pickupPoint.info' | transloco }}
      </p>
    </div>
  </div>
}
