@let vm = vm$ | async;

<!--<b>activeOrderValid: {{vm?.isActiveOrderValid}}</b>-->
<!--<br>-->
<!--<b>allOrdersValid: {{vm?.isAllOrdersValid}}</b>-->

@if (vm && vm.settingsLoaded) {
  <app-order-tabs
    [tabs]="vm.enhancedOrders"
    [isActiveOrderValid]="vm.isActiveOrderValid"
    [maxTabs]="MAX_ORDERS"
    (add)="addOrder()"
    (remove)="removeOrder($event)"
    (select)="setActiveOrder($event)"
  />
  @if (vm?.activeOrder; as order) {
    <app-cargo-picker
      [activeType]="order.cargoType"
      [types]="vm.cargoTypes.root"
      [restrictions]="vm.restrictions"
      (typeChange)="setCargoType(order.id, $event)"
    />

    @switch (order.cargoType) {
      @case (CargoType.PARCELS) {
        @defer {
          <app-parcels
            [data]="order.parcels"
            [parcelsLimits]="vm.restrictions.parcels"
            [parcelLimits]="vm.restrictions.parcel"
            (dataChange)="updateOrderData(order.id, 'parcels', $event)"
            (validationChange)="updateOrderValidation(order.id, 'parcels', $event)"
          />
        } @loading (minimum 1s) {
          <tui-loader />
        }
      }
      @case (CargoType.AUTO_PARTS) {
        @defer {
          <app-auto-parts
            [data]="order.autoParts"
            [restrictions]="vm.restrictions.autoParts"
            [parts]="vm.cargoTypes.autoParts"
            (dataChange)="updateOrderData(order.id, 'autoParts', $event)"
            (validationChange)="updateOrderValidation(order.id, 'autoParts', $event)"
          />
        } @loading (minimum 1s) {
          <tui-loader />
        }
      }
      @case (CargoType.OTHER) {
        @defer {
          <app-other-cargo
            [data]="order.otherCargo"
            [restrictions]="vm.restrictions.otherCargo"
            [parts]="vm.cargoTypes.other"
            (dataChange)="updateOrderData(order.id, 'otherCargo', $event)"
            (validationChange)="updateOrderValidation(order.id, 'otherCargo', $event)"
          />
        } @loading (minimum 1s) {
          <tui-loader />
        }
      }
      @default {
        @defer {
          <app-documents
            [data]="order.documents"
            (dataChange)="updateOrderData(order.id, 'documents', $event)"
            (validationChange)="updateOrderValidation(order.id, 'documents', $event)"
          />
        } @loading (minimum 1s) {
          <tui-loader />
        }
      }
    }

    <div>
      <app-packaging
        [data]="order.packaging"
        [services]="vm.settings?.services ?? []"
        (dataChange)="updateOrderData(order.id, 'packaging', $event)"
        (validationChange)="updateOrderValidation(order.id, 'packaging', $event)"
      />
      <app-additional-services
        [data]="order.additionalServices"
        [services]="vm.settings?.services ?? []"
        (dataChange)="updateOrderData(order.id, 'additionalServices', $event)"
        (validationChange)="updateOrderValidation(order.id, 'additionalServices', $event)"
      />
    </div>
  }
} @else if (vm?.settingsLoading) {
  <tui-loader />
}
