@let vm = vm$ | async;

@if (vm && vm.options.isLoaded) {
  <app-order-tabs
    [tabs]="vm.orders.items"
    [isActiveOrderValid]="vm.orders.isActiveValid"
    [maxTabs]="MAX_ORDERS"
    (add)="addOrder()"
    (remove)="removeOrder($event)"
    (select)="setActiveOrder($event)"
  />
  @if (vm?.orders?.active; as order) {
    <app-cargo-picker
      [activeType]="order.cargoType"
      [types]="vm.options.cargoTypes"
      [restrictions]="vm.restrictions"
      (typeChange)="setCargoType(order.id, $event)"
    />

    <div [@cargoSwitch]="order.cargoType">
      @switch (order.cargoType) {
        @case (CargoType.PARCELS) {
          @defer {
            <app-parcels
              [data]="order.parcels"
              [parcelsLimits]="vm.restrictions.parcels"
              [parcelItemLimits]="vm.restrictions.parcelItem"
              (dataChange)="updateOrderData(order.id, 'parcels', $event)"
              (validationChange)="updateOrderValidation(order.id, 'parcels', $event)"
            />
          }
        }
        @case (CargoType.AUTO_PARTS) {
          @defer {
            <app-auto-parts
              [data]="order.autoParts"
              [options]="vm.options.autoParts"
              [restrictions]="vm.restrictions.autoParts"
              (dataChange)="updateOrderData(order.id, 'autoParts', $event)"
              (validationChange)="updateOrderValidation(order.id, 'autoParts', $event)"
            />
          }
        }
        @case (CargoType.OTHER) {
          @defer {
            <app-other-cargo
              [data]="order.otherCargo"
              [options]="vm.options.otherCargos"
              [restrictions]="vm.restrictions.otherCargo"
              (dataChange)="updateOrderData(order.id, 'otherCargo', $event)"
              (validationChange)="updateOrderValidation(order.id, 'otherCargo', $event)"
            />
          }
        }
        @default {
          @defer {
            <app-documents
              [data]="order.documents"
              (dataChange)="updateOrderData(order.id, 'documents', $event)"
              (validationChange)="updateOrderValidation(order.id, 'documents', $event)"
            />
          }
        }
      }
    </div>

    <div>
      <app-packaging
        [data]="order.packaging"
        [options]="vm.options.packaging"
        (dataChange)="updateOrderData(order.id, 'packaging', $event)"
        (validationChange)="updateOrderValidation(order.id, 'packaging', $event)"
      />
      <app-additional-services
        [data]="order.additionalServices"
        [options]="vm.options.additionalServices"
        (dataChange)="updateOrderData(order.id, 'additionalServices', $event)"
        (validationChange)="updateOrderValidation(order.id, 'additionalServices', $event)"
      />
    </div>
  }
} @else if (vm?.options?.isLoading) {
  <tui-loader />
}
