@let vm = vm$ | async;

@if (vm && form) {
  <div [tuiSkeleton]="vm.cities.isLoading">
    <ng-content select="b"></ng-content>
  </div>

  <form [formGroup]="form" class="flex flex-col gap-5">
    <div class="relative">
      <tui-combo-box
        [formControl]="city"
        [stringify]="'name' | tuiStringify"
        (searchChange)="onSearchChange($event)"
        [tuiTextfieldLabelOutside]="true"
        [tuiSkeleton]="vm.cities.isLoading"
        [tuiHint]="[] | tuiFieldErrorContent"
        tuiHintAppearance="error"
        class="w-full"
      >
        <div class="flex items-center">
          {{ 'deliveryPoint.placeholders.city' | transloco }}
        </div>
        <tui-data-list-wrapper
          *tuiDataList
          [items]="cities$ | async"
          [itemContent]="'name' | tuiStringify | tuiStringifyContent"
        />
      </tui-combo-box>
    </div>

    @if (vm.cities.selected) {
      @if (vm.tabs.length > 1) {
        <div class="mt-1">
          <div class="grid grid-cols-2 gap-3">
            @for (tab of vm.tabs; track tab.id) {
              <button
                type="button"
                tuiButton
                [appearance]="tab === vm.activeTab ? 'primary' : 'outline'"
                (click)="onTabChange(tab.id)"
              >
                <span class="font-medium">{{ tab.name | transloco }}</span>
              </button>
            }
          </div>
        </div>
      }

      <div class="tab-content">
        @switch (vm.activeTab?.id) {
          @case (TabType.OFFICE) {
            <div class="p-3 bg-gray-50 rounded-lg">
              <!--                @if (vm.tabs.length < 2) {-->
              <!--                  <div-->
              <!--                    class="flex items-center justify-center py-3 px-4 rounded-md border border-gray-200 bg-white mb-3">-->
              <!--                    <span class="font-medium">Забрать в отделении</span>-->
              <!--                  </div>-->
              <!--                }-->
              <div class="flex items-center text-gray-600 mb-2 text-sm">
                <tui-icon
                  icon="@tui.map-pin"
                  class="mr-2"
                  [style.color]="'var(--color-gray-600)'"
                  [style.font-size.rem]="1"
                />
                <span>
                  {{ 'deliveryPoint.labels.office' | transloco }}
                </span>
              </div>
              <tui-select
                [formControl]="office"
                [stringify]="'address' | tuiStringify"
                [tuiHint]="[] | tuiFieldErrorContent"
                tuiHintAppearance="error"
              >
                {{ 'deliveryPoint.placeholders.office' | transloco }}
                <tui-data-list-wrapper
                  *tuiDataList
                  [items]="vm.offices.items"
                  [itemContent]="'address' | tuiStringify | tuiStringifyContent"
                />
              </tui-select>
              <tui-error [formControl]="office" [error]="[] | tuiFieldError | async" />
            </div>
          }
          @case (TabType.COURIER) {
            <div @tabContent class="p-3 bg-gray-50 rounded-lg">
              @defer {
                <app-courier-details [formControl]="courierDetails" />
              } @placeholder (minimum 500ms) {
                <div>
                  <div>
                    <span class="mb-1 inline-block" [tuiSkeleton]="true"></span>
                    <div class="h-12" [tuiSkeleton]="true"></div>
                  </div>
                  <div class="mb-2 grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                      <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                      <div class="h-12" [tuiSkeleton]="true"></div>
                    </div>
                    <div>
                      <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                      <div class="h-12" [tuiSkeleton]="true"></div>
                    </div>
                  </div>
                  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                      <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                      <div class="h-12" [tuiSkeleton]="true"></div>
                    </div>
                    <div>
                      <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                      <div class="h-12" [tuiSkeleton]="true"></div>
                    </div>
                  </div>
                </div>
              }
            </div>
          }
          @case (TabType.BUS) {
            <div class="p-3 bg-gray-50 rounded-lg">
              <label class="flex items-center cursor-pointer">
                <input tuiCheckbox type="checkbox" [formControl]="busPickup" />
                <span class="inline-block ml-2 text-gray-700">
                  {{ 'deliveryPoint.methods.busPickup' | transloco }}
                </span>
              </label>
            </div>
          }
        }
      </div>
    }
  </form>
}
