<div
  [formGroup]="form"
  class="relative mb-5 mt-8 rounded-sm border border-gray-100 p-5 before:absolute before:-top-2.5 before:left-5 before:block before:bg-white before:pl-0.5 before:pr-0.5 before:text-xs before:font-medium before:text-gray-600 before:content-['Посылка'] sm:border-0 sm:p-0 sm:before:hidden md:border md:p-5 md:before:block xl:border-0 xl:p-0 xl:before:hidden"
>
  <div
    class="mb-2 grid grid-cols-2 gap-4 sm:grid-cols-parcel md:grid-cols-2 lg:mb-0.5 lg:grid-cols-3 xl:grid-cols-6"
  >
    <div tuiLabel>
      Кол-во мест

      <div class="relative">
        <tui-textfield #quantityInput>
          <input
            tuiInputNumber
            [formControl]="quantity"
            [min]="limits.QUANTITY.MIN"
            [max]="limits.QUANTITY.MAX"
            [tuiHint]="[] | tuiFieldErrorContent"
            [invalid]="quantity.invalid || totalQuantityMaxError"
            (blur)="setMinValueOnBlur(quantity.value, 'quantity')"
            placeholder="0"
            tuiHintAppearance="error"
          />
        </tui-textfield>
        @if (quantityInput.focused()) {
          <span class="absolute top-1/2 -translate-y-1/2 right-2">
            <tui-badge appearance="secondary" tuiHint="Доступно еще мест" size="s">{{
              getAvailableQuantity()
            }}</tui-badge>
          </span>
        }
      </div>
    </div>
    <div tuiLabel>
      Вес

      <div class="relative">
        <tui-textfield #weightInput>
          <input
            tuiInputNumber
            [formControl]="weight"
            [min]="limits.WEIGHT.MIN"
            [max]="limits.WEIGHT.MAX"
            [tuiHint]="[] | tuiFieldErrorContent"
            [invalid]="weight.invalid || totalWeightMaxError"
            (blur)="setMinValueOnBlur(weight.value, 'weight')"
            tuiHintAppearance="error"
            tuiTextfieldPostfix="кг"
          />
        </tui-textfield>

        @if (weightInput.focused()) {
          <span class="absolute top-1/2 -translate-y-1/2 right-2">
            <tui-badge appearance="secondary" tuiHint="Максимальный вес" size="s"
              >{{ limits.WEIGHT.MAX }} кг.</tui-badge
            >
          </span>
        }
      </div>
    </div>
    <ng-container formGroupName="dimensions">
      <div tuiLabel>
        Ширина

        <div class="relative">
          <tui-textfield #widthInput>
            <input
              tuiInputNumber
              [formControl]="width"
              [min]="limits.DIMENSIONS.MIN"
              [max]="getMaxDimension(width)"
              [tuiHint]="[] | tuiFieldErrorContent"
              [invalid]="dimensions.invalid || totalDimensionsMaxError"
              (blur)="setMinDimensionOnBlur(width.value, 'width')"
              tuiHintAppearance="error"
              tuiTextfieldPostfix="см"
            />
          </tui-textfield>

          @if (widthInput.focused() || heightInput.focused() || lengthInput.focused()) {
            <span class="absolute top-1/2 -translate-y-1/2 right-2">
              <tui-badge appearance="secondary" tuiHint="Доступно для указания ширины" size="s"
                >{{ getAvailableDimension() }} см.</tui-badge
              >
            </span>
          }
        </div>
      </div>
      <div tuiLabel>
        Высота

        <div class="relative">
          <tui-textfield #heightInput>
            <input
              tuiInputNumber
              [formControl]="height"
              [min]="limits.DIMENSIONS.MIN"
              [max]="getMaxDimension(height)"
              [tuiHint]="[] | tuiFieldErrorContent"
              [invalid]="dimensions.invalid || totalDimensionsMaxError"
              (blur)="setMinDimensionOnBlur(height.value, 'height')"
              tuiHintAppearance="error"
              tuiTextfieldPostfix="см"
            />
          </tui-textfield>

          @if (widthInput.focused() || heightInput.focused() || lengthInput.focused()) {
            <span class="absolute top-1/2 -translate-y-1/2 right-2">
              <tui-badge appearance="secondary" tuiHint="Доступно для указания высоты" size="s"
                >{{ getAvailableDimension() }} см.</tui-badge
              >
            </span>
          }
        </div>
      </div>
      <div tuiLabel>
        Длина

        <div class="relative">
          <tui-textfield #lengthInput>
            <input
              tuiInputNumber
              [formControl]="length"
              [min]="limits.DIMENSIONS.MIN"
              [max]="getMaxDimension(length)"
              [tuiHint]="[] | tuiFieldErrorContent"
              [invalid]="dimensions.invalid || totalDimensionsMaxError"
              (blur)="setMinDimensionOnBlur(length.value, 'length')"
              tuiHintAppearance="error"
              tuiTextfieldPostfix="см"
            />
          </tui-textfield>

          @if (widthInput.focused() || heightInput.focused() || lengthInput.focused()) {
            <span class="absolute top-1/2 -translate-y-1/2 right-2">
              <tui-badge appearance="secondary" tuiHint="Доступно для указания длины" size="s"
                >{{ getAvailableDimension() }} см.</tui-badge
              >
            </span>
          }
        </div>
      </div>
    </ng-container>
    <div class="mt-6 flex flex-col justify-center">
      <ng-content select="button"></ng-content>
    </div>
  </div>
  <tui-error [formControl]="dimensionsError" [error]="[] | tuiFieldError | async" />
</div>
