<div class="mb-6">
  @for (parcelItem of parcels.controls; track $index) {
    <div
      class="mb-6 p-4 bg-white border border-gray-200 rounded-md shadow-sm transition-all"
      [@parcelItem]
    >
      <div class="flex justify-between items-center mb-4 pb-2 border-b border-gray-100">
        <h3 class="text-md font-medium text-gray-700 flex items-center">
          <tui-icon
            icon="@tui.box"
            class="mr-2"
            [style.color]="'var(--tui-background-accent-1)'"
            [style.font-size.rem]="1.25"
          />
          {{ 'deliveryDetails.parcel.name' | transloco }} {{ $index + 1 }}
        </h3>
        @if (parcels.length > 1) {
          <button type="button" class="cursor-pointer" (click)="removeParcelItem($index)">
            <tui-icon
              icon="@tui.trash"
              class="mr-2"
              [style.color]="'var(--color-red-500)'"
              [style.font-size.rem]="1.25"
            />
          </button>
        }
      </div>

      <app-parcel-item
        [totalQuantityMaxError]="!!errors?.totalQuantityMax"
        [totalWeightMaxError]="!!errors?.totalWeightMax"
        [totalDimensionsMaxError]="!!errors?.totalDimensionsMax"
        [limits]="parcelItemLimits"
        [formControl]="parcelItem"
      >
      </app-parcel-item>
    </div>
  }

  <div class="mb-4">
    <tui-error [formControl]="parcelsError" [error]="[] | tuiFieldError | async"></tui-error>
  </div>

  <button
    type="button"
    class="flex items-center justify-center cursor-pointer w-full p-3 border border-dashed border-yellow-300 rounded-md text-yellow-600 hover:bg-yellow-50 hover:border-yellow-400 transition-colors"
    [disabled]="!canAddParcelItem"
    (click)="addParcelItem()"
  >
    <tui-icon
      icon="@tui.plus"
      class="mr-2"
      [style.color]="'var(--color-yellow-600)'"
      [style.font-size.rem]="1.5"
    />
    <span class="font-medium">{{ 'deliveryDetails.parcels.actions.add' | transloco }}</span>
  </button>
</div>
