<div class="parcels">
  @for (parcelItem of parcels.controls; track $index) {
    <app-parcel-item
      [parcelsErrors]="errors"
      [limits]="parcelItemLimits"
      [formControl]="parcelItem"
    >
      @if (parcels.length > 1) {
        <button type="button" tuiIconButton icon="tuiIconTrash" (click)="removeParcelItem($index)">
          Удалить
        </button>
      }
    </app-parcel-item>
  }

  <tui-error [formControl]="parcelsError" [error]="[] | tuiFieldError | async"></tui-error>
  <button
    type="button"
    tuiButton
    appearance="secondary"
    class="add-button"
    [disabled]="!canAddParcelItem"
    (click)="addParcelItem()"
  >
    Добавить еще 1 позицию
  </button>
</div>
