<div class="parcels">
  @for (parcelItem of parcels.controls; track $index) {
    <app-parcel-item
      [@parcelItem]
      [totalQuantityMaxError]="!!errors?.totalQuantityMax"
      [totalWeightMaxError]="!!errors?.totalWeightMax"
      [totalDimensionsMaxError]="!!errors?.totalDimensionsMax"
      [limits]="parcelItemLimits"
      [formControl]="parcelItem"
    >
      @if (parcels.length > 1) {
        <button
          type="button"
          class="inline-block cursor-pointer hover:opacity-80"
          (click)="removeParcelItem($index)"
        >
          <tui-icon
            icon="@tui.delete"
            [style.font-size.rem]="2"
            [style.color]="'var(--color-red-500)'"
          />
        </button>
      }
    </app-parcel-item>
  }

  <tui-error [formControl]="parcelsError" [error]="[] | tuiFieldError | async"></tui-error>
  <button
    type="button"
    tuiButton
    appearance="secondary"
    class="add-button"
    [disabled]="!canAddParcelItem"
    (click)="addParcelItem()"
  >
    Добавить
  </button>
</div>
