<div class="">
  <h2 class="mb-6 text-xl font-bold">Дополнительные услуги:</h2>
  @if (additionalServices.insurance.length) {
    <div class="mb-4">
      <label tuiLabel class="flex items-center gap-2 cursor-pointer">
        <input tuiCheckbox type="checkbox" [formControl]="insurance.controls.enabled" size="m" />
        Страхование
        @if (insurance.controls.enabled.value) {
          <button
            appearance="warning"
            iconStart="@tui.info"
            size="xs"
            tuiIconButton
            type="button"
            tuiHint="Максимум 30000"
            [style.border-radius.%]="100"
          >
            Favorite
          </button>
        }
      </label>

      @if (insurance.controls.enabled.value) {
        <label tuiLabel class="mt-2 ml-8">
          <span class="mb-1 inline-block text-sm text-gray-500">Объявленная ценность</span>
          <tui-textfield class="max-w-[280px]">
            <input
              tuiInputNumber
              [formControl]="insurance.controls.amount"
              [min]="INSURANCE_MIN_AMOUNT"
              [max]="INSURANCE_MAX_AMOUNT"
              [tuiHint]="[] | tuiFieldErrorContent"
              tuiHintAppearance="error"
            />
          </tui-textfield>
        </label>
      }
    </div>
  }

  @if (additionalServices.extendedSms) {
    <div class="mb-4">
      <label class="flex items-center gap-2 cursor-pointer">
        <input tuiCheckbox type="checkbox" [formControl]="extendedSms.controls.enabled" size="m" />
        Расширенная СМС
      </label>

      @if (extendedSms.controls.enabled.value) {
        <div tuiLabel class="mt-2 ml-8">
          <span class="mb-1 inline-block text-sm text-gray-500">Номер телефона</span>
          <tui-input-phone
            [formControl]="extendedSms.controls.phone"
            [tuiHint]="[] | tuiFieldErrorContent"
            tuiHintAppearance="error"
            class="max-w-[280px]"
          />
        </div>
      }
    </div>
  }

  @if (additionalServices.senderSms) {
    <div class="mb-4">
      <label tuiLabel class="flex items-center gap-2 cursor-pointer">
        <input tuiCheckbox type="checkbox" [formControl]="senderSms.controls.enabled" size="m" />
        СМС отправителю
      </label>

      @if (senderSms.controls.enabled.value) {
        <div tuiLabel class="mt-2 ml-8">
          <span class="mb-1 inline-block text-sm text-gray-500">Номер телефона</span>
          <tui-input-phone
            [formControl]="senderSms.controls.phone"
            [tuiHint]="[] | tuiFieldErrorContent"
            tuiHintAppearance="error"
            class="max-w-[280px]"
          />
        </div>
      }
    </div>
  }

  @if (additionalServices.recipientPayment) {
    <div class="service">
      <label tuiLabel class="flex items-center gap-2 cursor-pointer">
        <input
          tuiCheckbox
          type="checkbox"
          [formControl]="recipientPayment.controls.enabled"
          size="m"
        />
        Оплата получателем
      </label>

      @if (recipientPayment.controls.enabled.value) {
        <div class="mt-2 ml-8 hidden">
          <tui-textfield>
            <input
              tuiInputNumber
              [formControl]="recipientPayment.controls.amount"
              [tuiHint]="[] | tuiFieldErrorContent"
              [min]="1"
              tuiHintAppearance="error"
              placeholder="0"
            />
          </tui-textfield>
        </div>
      }
    </div>
  }
</div>
