<div class="grid grid-cols-[370px_144px] gap-4">
  <div tuiLabel>
    <span class="mb-1 inline-block text-sm">Выберите запчасть</span>
    <tui-select
      [formControl]="item"
      [stringify]="'name' | tuiStringify"
      [tuiTextfieldLabelOutside]="true"
    >
      <tui-data-list-wrapper
        *tuiDataList
        [items]="options"
        [itemContent]="'name' | tuiStringify | tuiStringifyContent"
      />
    </tui-select>
  </div>

  @if (item.value) {
    <label tuiLabel>
      <span class="mb-1 inline-block text-sm">Количество мест</span>

      <tui-textfield>
        <input
          tuiInputNumber
          placeholder="0"
          [formControl]="quantity"
          (blur)="setMinQuantityOnBlur()"
          [step]="1"
        />
      </tui-textfield>
    </label>
  }
</div>
