<div class="">
  <div class="grid grid-cols-1 gap-2" [class.md:grid-cols-[3fr_1fr]]="item.value">
    <div tuiLabel class="mb-2">
      <div class="mb-1.5 flex items-center">
        <span class="text-sm text-gray-600">Выберите груз</span>
      </div>
      <tui-select
        [formControl]="item"
        [stringify]="'name' | tuiStringify"
        [tuiTextfieldLabelOutside]="true"
        class="w-full"
      >
        <tui-data-list-wrapper
          *tuiDataList
          [items]="options"
          [itemContent]="'name' | tuiStringify | tuiStringifyContent"
        />
      </tui-select>
    </div>

    @if (item.value) {
      <div tuiLabel>
        <div class="mb-1.5 flex items-center">
          <span class="text-sm text-gray-600">Количество мест</span>
        </div>
        <tui-textfield>
          <input
            tuiInputNumber
            placeholder="0"
            [formControl]="quantity"
            (blur)="setMinQuantityOnBlur()"
            [step]="1"
          />
        </tui-textfield>
      </div>
    }
  </div>
</div>
