@let vm = vm$ | async;

@if (vm) {
  <app-stepper [steps]="vm.steps" />
}
<router-outlet />
@if (vm) {
  <button type="button" tuiButton (click)="goPrevStep(vm.prevStep)" [disabled]="!vm.prevStep">
    Назад
  </button>
  @if (vm.isLastStep) {
    <button type="button" tuiButton [disabled]="!vm.stepsValid" (click)="submitOrder()">
      Оформить заказ
    </button>
  } @else {
    <button type="button" tuiButton [disabled]="!vm.nextStep" (click)="goNextStep(vm.nextStep)">
      Дальше
    </button>
  }
}
