@let vm = vm$ | async;
@let isMainLayout = isMainLayout$ | async;

@if (vm && isMainLayout) {
  <app-stepper [steps]="vm.steps" />
}
<router-outlet />
@if (vm && isMainLayout) {
  <div class="flex gap-2 justify-between mt-10">
    <button
      type="button"
      appearance="secondary"
      tuiButton
      size="xl"
      iconStart="@tui.chevron-left"
      [class.cursor-not-allowed!]="!vm.prevStep"
      [disabled]="!vm.prevStep"
      (click)="goPrevStep(vm.prevStep)"
    >
      Назад
    </button>
    @if (vm.isLastStep) {
      <button
        type="button"
        tuiButton
        size="xl"
        iconEnd="@tui.handshake"
        [disabled]="!vm.stepsValid"
        (click)="submitOrder()"
      >
        Отправить заявку
      </button>
    } @else {
      <button
        type="button"
        tuiButton
        size="xl"
        iconEnd="@tui.chevron-right"
        [disabled]="!vm.nextStep"
        (click)="goNextStep(vm.nextStep)"
      >
        Дальше
      </button>
    }
  </div>
}
