@if (form) {
  <div [formGroup]="form" class="grid grid-cols-3 gap-5">
    <label tuiLabel>
      Фамилия
      <div class="relative">
        <tui-textfield #lastNameInput>
          <input
            tuiTextfield
            [formControl]="lastName"
            [tuiHint]="[] | tuiFieldErrorContent"
            [minlength]="limits.user.lastName.minLength"
            [maxlength]="limits.user.lastName.maxLength"
            [attr.maxlength]="limits.user.lastName.maxLength"
            tuiHintAppearance="error"
          />
        </tui-textfield>
        @if (lastNameInput.focused()) {
          <span class="absolute top-1/2 -translate-y-1/2 right-2">
            <tui-badge appearance="secondary" tuiHint="Доступно символов" size="s">{{
              availableLastNameLength
            }}</tui-badge>
          </span>
        }
      </div>
    </label>

    <label tuiLabel>
      Имя
      <div class="relative">
        <tui-textfield #firstNameInput>
          <input
            tuiTextfield
            [formControl]="firstName"
            [tuiHint]="[] | tuiFieldErrorContent"
            [minlength]="limits.user.firstName.minLength"
            [maxlength]="limits.user.firstName.maxLength"
            [attr.maxlength]="limits.user.firstName.maxLength"
            tuiHintAppearance="error"
          />
        </tui-textfield>
        @if (firstNameInput.focused()) {
          <span class="absolute top-1/2 -translate-y-1/2 right-2">
            <tui-badge appearance="secondary" tuiHint="Доступно символов" size="s">{{
              availableFirstNameLength
            }}</tui-badge>
          </span>
        }
      </div>
    </label>

    <label tuiLabel>
      Отчество
      <div class="relative">
        <tui-textfield #middleNameInput>
          <input
            tuiTextfield
            [formControl]="middleName"
            [tuiHint]="[] | tuiFieldErrorContent"
            [minlength]="limits.user.middleName.minLength"
            [maxlength]="limits.user.middleName.maxLength"
            [attr.maxlength]="limits.user.middleName.maxLength"
            tuiHintAppearance="error"
          />
        </tui-textfield>
        @if (middleNameInput.focused()) {
          <span class="absolute top-1/2 -translate-y-1/2 right-2">
            <tui-badge appearance="secondary" tuiHint="Доступно символов" size="s">{{
              availableMiddleNameLength
            }}</tui-badge>
          </span>
        }
      </div>
    </label>

    <label tuiLabel>
      Email (опционально)
      <div class="relative">
        <tui-textfield>
          <input
            tuiTextfield
            [formControl]="email"
            [tuiHint]="[] | tuiFieldErrorContent"
            tuiHintAppearance="error"
          />
        </tui-textfield>
      </div>
    </label>

    <div tuiLabel>
      Телефон

      <tui-input-phone
        [formControl]="phone"
        [tuiHint]="[] | tuiFieldErrorContent"
        tuiHintAppearance="error"
      >
      </tui-input-phone>
    </div>
    <label tuiLabel>
      Роль
      <tui-textfield tuiChevron [stringify]="'label' | tuiStringify" [tuiTextfieldCleaner]="false">
        <select tuiTextfield [formControl]="role"></select>
        <tui-data-list-wrapper
          *tuiTextfieldDropdown
          [items]="individualRoles"
          [itemContent]="'label' | tuiStringify | tuiStringifyContent"
        />
      </tui-textfield>
    </label>
  </div>
}
