.summary-drawer {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.summary-drawer::-webkit-scrollbar {
  width: 5px;
}

.summary-drawer::-webkit-scrollbar-track {
  background: transparent;
}

.summary-drawer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

:host-context(body.drawer-open) {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.summary-drawer .swipe-indicator {
  transition: width 0.2s ease;
}

.summary-drawer:active .swipe-indicator {
  width: 2rem;
}
