@let vm = vm$ | async;

@if (vm && form) {
  <div>
    <ng-content select="b"></ng-content>
  </div>
  <form [formGroup]="form" class="flex flex-col gap-4">
    <tui-combo-box
      [formControl]="city"
      [stringify]="'name' | tuiStringify"
      (searchChange)="onSearchChange($event)"
      [tuiSkeleton]="vm.cities.isLoading"
    >
      Выберите город
      <tui-data-list-wrapper
        *tuiDataList
        [items]="cities$ | async"
        [itemContent]="'name' | tuiStringify | tuiStringifyContent"
      />
    </tui-combo-box>
    <!--    <tui-error [formControl]="city" [error]="[] | tuiFieldError | async" />-->

    @if (vm.cities.selected) {
      <!--      @let tabs = vm.tabs;-->

      @if (vm.tabs.length) {
        <div class="flex">
          @for (tab of vm.tabs; track tab.id) {
            <button
              type="button"
              class="flex-1/2 bg-gray-100 min-h-12 cursor-pointer"
              [class.bg-yellow-500]="tab === vm.activeTab"
              (click)="onTabChange(tab.id)"
            >
              {{ tab.name }}
            </button>
          }
        </div>
      }
    }

    <div class="tab-content">
      @switch (vm.activeTab?.id) {
        @case (TabType.OFFICE) {
          <div @tabContent>
            <tui-select
              [formControl]="office"
              [stringify]="'address' | tuiStringify"
              [tuiTextfieldLabelOutside]="true"
              tuiTextfieldSize="m"
            >
              Выберите офис
              <tui-data-list-wrapper
                *tuiDataList
                [items]="vm.offices.items"
                [itemContent]="'address' | tuiStringify | tuiStringifyContent"
              />
            </tui-select>
            <!--            <tui-error [formControl]="office" [error]="[] | tuiFieldError | async"></tui-error>-->
          </div>
        }
        @case (TabType.COURIER) {
          <div @tabContent>
            @defer {
              <app-courier-details [formControl]="courierPoint" />
            } @loading (minimum 1s) {
              <tui-loader />
            }
          </div>
        }
      }
    </div>

    @if (vm.activeTab?.id) {
      <div>
        <tui-input-date
          [formControl]="departureDate"
          tuiUnfinishedValidator="Выберите дату"
          [tuiTextfieldLabelOutside]="true"
          tuiTextfieldSize="m"
          [min]="minDate"
        />
        <!--        <tui-error [formControl]="departureDate" [error]="[] | tuiFieldError | async"></tui-error>-->
      </div>
    }
  </form>
}
