@let vm = vm$ | async;

@if (vm && form) {
  <div [tuiSkeleton]="vm.cities.isLoading">
    <b class="mb-3 flex items-center justify-between pb-3 border-b border-gray-100 text-lg">
      <ng-content select="span"></ng-content>
      <span class="xl:hidden">
        <tui-icon
          icon="@tui.info"
          [tuiHint]="'pickupPoint.info' | transloco"
          [style.color]="'var(--color-yellow-500)'"
          [style.font-size.rem]="1.5"
        />
      </span>
    </b>
  </div>

  <form [formGroup]="form" class="flex flex-col gap-5">
    <div class="relative">
      <tui-combo-box
        [formControl]="city"
        [stringify]="'name' | tuiStringify"
        (searchChange)="onSearchChange($event)"
        [tuiSkeleton]="vm.cities.isLoading"
        [tuiHint]="[] | tuiFieldErrorContent"
        tuiHintAppearance="error"
        class="w-full"
      >
        <div class="flex items-center">{{ 'pickupPoint.placeholders.city' | transloco }}</div>
        <tui-data-list-wrapper
          *tuiDataList
          [items]="cities$ | async"
          [itemContent]="'name' | tuiStringify | tuiStringifyContent"
        />
      </tui-combo-box>
    </div>

    @if (vm.cities.selected) {
      @if (vm.tabs.length) {
        <div class="mt-1">
          <div class="grid grid-cols-2 gap-3">
            @for (tab of vm.tabs; track tab.id) {
              <button
                type="button"
                tuiButton
                [appearance]="tab === vm.activeTab ? 'primary' : 'outline'"
                (click)="onTabChange(tab.id)"
              >
                <span class="font-medium">{{ tab.name | transloco }}</span>
              </button>
            }
          </div>
        </div>
      }
    }

    <div class="tab-content">
      @switch (vm.activeTab?.id) {
        @case (TabType.OFFICE) {
          <div class="p-3 bg-gray-50 rounded-lg">
            <div class="flex items-center text-gray-600 mb-2 text-sm">
              <tui-icon
                icon="@tui.map-pin"
                class="mr-2"
                [style.color]="'var(--color-gray-600)'"
                [style.font-size.rem]="1"
              />
              <span>{{ 'pickupPoint.labels.office' | transloco }}</span>
            </div>
            <tui-select
              [formControl]="office"
              [stringify]="'address' | tuiStringify"
              [tuiTextfieldLabelOutside]="true"
              [tuiHint]="[] | tuiFieldErrorContent"
              tuiHintAppearance="error"
            >
              {{ 'pickupPoint.labels.city' | transloco }}
              <tui-data-list-wrapper
                *tuiDataList
                [items]="vm.offices.items"
                [itemContent]="'address' | tuiStringify | tuiStringifyContent"
              />
            </tui-select>
          </div>
        }
        @case (TabType.COURIER) {
          <div class="p-3 bg-gray-50 rounded-lg">
            @defer {
              <app-courier-details [formControl]="courierPoint" />
            } @placeholder (minimum 500ms) {
              <div>
                <div>
                  <span class="mb-1 inline-block" [tuiSkeleton]="true"></span>
                  <div class="h-12" [tuiSkeleton]="true"></div>
                </div>
                <div class="mb-2 grid grid-cols-1 sm:grid-cols-2 gap-4">
                  <div>
                    <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                    <div class="h-12" [tuiSkeleton]="true"></div>
                  </div>
                  <div>
                    <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                    <div class="h-12" [tuiSkeleton]="true"></div>
                  </div>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                  <div>
                    <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                    <div class="h-12" [tuiSkeleton]="true"></div>
                  </div>
                  <div>
                    <span class="mb-1 inline-block h-4" [tuiSkeleton]="true"></span>
                    <div class="h-12" [tuiSkeleton]="true"></div>
                  </div>
                </div>
              </div>
            }
          </div>
        }
      }
    </div>

    @if (vm.activeTab?.id) {
      <div class="mt-1">
        <div class="flex items-center text-gray-600 mb-2 text-sm">
          <span>{{ 'pickupPoint.labels.departureDate' | transloco }}</span>
        </div>
        <tui-input-date
          [formControl]="departureDate"
          [tuiUnfinishedValidator]="'pickupPoint.placeholders.departureDate' | transloco"
          [tuiTextfieldLabelOutside]="true"
          [min]="minDate"
          [tuiHint]="[] | tuiFieldErrorContent"
          tuiHintAppearance="error"
          class="w-full"
        />
      </div>
    }
  </form>
}
